<div class="lista-tarefas">
  <div class="header">
    <div class="titulo">
      <i nz-icon nzType="bars" nzTheme="outline"></i>
      <h1>Lista de tarefas</h1>
    </div>
    <div class="nova-tarefa" [routerLink]="['/tarefas/cadastrar']">
      <i nz-icon nzType="plus-circle" nzTheme="fill"></i>
      <p>Nova tarefa</p>
    </div>
  </div>
  <div class="tarefas" *ngFor="let tarefa of tarefas">
    <nz-divider></nz-divider>
    <div class="tarefa">
      <div class="check">
        <label
          nz-checkbox
          [ngModel]="tarefa.concluida"
          (ngModelChange)="alterarStatus(tarefa)"
        ></label>
      </div>
      <div class="nome-descricao">
        <h1 [tarefaConcluida]="tarefa.concluida">{{ tarefa.nome }}</h1>
        <p>{{ tarefa.descricao }}</p>
      </div>
      <div class="acoes">
        <i
          nz-icon
          nzType="edit"
          nzTheme="outline"
          class="editar"
          [routerLink]="['/tarefas/editar', tarefa.id]"
        ></i>
        <!-- [routerLink]="['/tarefas/editar', tarefa.id]" => com o uso da ", tarefa.id" eu substituo o :id, que é um parâmetro da rota, pelo id da row da minha tabela que é o tarefa.id -->
        <i
          nz-icon
          nz-popconfirm
          nzPopconfirmTitle="Tem certeza que deseja excluir essa tarefa?"
          (nzOnConfirm)="remover($event, tarefa)"
          [nzOkText]="'Sim'"
          [nzCancelText]="'Cancelar'"
          nzPopconfirmPlacement="top"
          nzType="delete"
          nzTheme="outline"
          class="excluir"
        ></i>
      </div>
    </div>
  </div>
  <div class="sem-tarefas" *ngIf="tarefas.length == 0">
    <nz-empty [nzNotFoundContent]="null"></nz-empty>
    <p>É isto... você não possui nenhuma tarefa!</p>
  </div>
</div>
