<div class="cadastrar-tarefa">
  <div class="header">
    <div class="titulo">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      <h1>Cadastro de tarefa</h1>
    </div>
  </div>

  <nz-divider></nz-divider>

  <form class="form" #formTarefa="ngForm" autocomplete="off">
    <div class="nome">
      <label form="nome">Nome <span style="color: brown">*</span></label>
      <input
        nz-input
        type="text"
        id="nome"
        name="nome"
        placeholder="Informe o nome da tarefa"
        [(ngModel)]="tarefa.nome"
        #nome="ngModel"
        minlength="5"
        required
      />
      <div class="aviso" *ngIf="nome.errors && (nome.dirty || nome.touched)">
        <!-- dirty ou touched => significa que o elemento foi alterado, ou seja não é mais o mesmo que carregou primeiramente -->
        <nz-alert
          [hidden]="!nome.errors['required']"
          nzShowIcon
          nzType="error"
          nzMessage="Digite o nome da tarefa!"
        ></nz-alert>
        <nz-alert
        [hidden]="!nome.errors['minlength']"
          nzShowIcon
          nzType="error"
          nzMessage="O nome deve conter pelo menos 5 caracteres!"
        ></nz-alert>
      </div>
    </div>

    <div class="descricao">
      <label form="descricao"
        >Descrição <span style="color: brown">*</span></label
      >
      <textarea
        nz-input
        id="descricao"
        name="descricao"
        placeholder="Descreva a tarefa"
        [nzAutosize]="{ minRows: 2, maxRows: 6 }"
        [(ngModel)]="tarefa.descricao"
        #descricao="ngModel"
        maxlength="80"
        required
      ></textarea>
    </div>

    <p class="campos-obrigatorios">
      <span style="color: brown; font-size: 1rem">*</span> Campos obrigatórios
    </p>
  </form>

  <div class="footer">
    <div class="voltar">
      <button nz-button [routerLink]="['/tarefas']">
        <i nz-icon nzType="left" nzTheme="outline"></i>Voltar
      </button>
    </div>
    <div class="cadastrar">
      <button
        nz-button
        type="submit"
        nzType="primary"
        (click)="cadastrar()"
        [disabled]="!formTarefa.form.valid"
        [nzLoading]="loading"
      >
        Cadastrar
      </button>
    </div>
  </div>
</div>
